{% extends "base.html" %}

{% block page_content %}
    <select name="pets">
        <option value="NA">NA</option>
        <option value="EUW">EUW</option>
        <option value="EUNA">EUNA</option>
        <option value="TU">TU</option>
        <option value="JP">JP</option>
        <option value="OC">OC</option>
    </select>

    <label for="summoner"></label>

    <input type="search" id="site-search" name="q"
           aria-label="Search through site content">

    <button>Search</button>

{% endblock %}

