{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="all">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Azakana</title>
</head>

</html>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-black bg-white static-top height-lg" id="upper_menu">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Home' %}">
            <img src="{% static 'img/Azakana_logo.png' %}" width="100px" height="85px" alt="logo">AZAKANA
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'register' %}">S'inscrire
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Se connecter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body class="search">
<nav class="navbar bg-white float-left">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#"> Home </a>
        </li>
        <li class="nav-item">
            <a href="#"> Services </a>
        </li>
        <li class="nav-item">
            <a href="#"> Contact </a>
        </li>
        <li class="nav-item">
            <a href="#"> Blogs </a>
        </li>
    </ul>
</nav>
<div class=”container”>
    <select name="servers">
        <option value="NA">NA</option>
        <option value="EUW">EUW</option>
        <option value="EUNA">EUNA</option>
        <option value="TU">TU</option>
        <option value="JP">JP</option>
        <option value="OC">OC</option>
    </select>

    <label for="summoner"></label>

    <input type="search" id="site-search" name="q"
           aria-label="Search through site content">

    <button>Rechercher</button>
</div>
</body>
