video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

@media screen and (max-width: 768px) {


  .input{
    width: 80%;
  }

  .research{
    width: 80%;
  }

  .servers{

  }
}

.Research{
background-color: transparent;
  color: #fff;
  padding: 21px 40px;
  border: 1px solid ;
  transition: all 0.3s ease-out;
  font-size: 25px;
  }


.input{
  padding: 21px 40px;
  outline: none;
  border: 1px solid #fff;
  font-size: 25px;
  }

.servers{
background-color: orange;
  color: #fff;
  transition: all 0.3s ease-out;
  padding: 20px 40px;
  border: 1px solid #fff;
  outline: none;
  font-size: 25px;
}

option{
    text-align:center;
}
