.stats-container {
    margin-bottom:200px;
    display:block;
}

.Stats_perso {
  padding: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
}

.games {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid;
  width: 50%;
}

.Lvl {
  display:inline-block;
  background-color: transparent;
  color: #fff;
  margin-left: 25%;
  padding: 20px;
  align-items: center;
  border: 1px solid;
  transition: all 0.3s ease-out;
  font-size: 25px;
}

.smr_name {
  display:inline-block;
  margin-left: 50px;
  margin-top: 5%;
  transition: all 0.3s ease-out;
}

.button_stats {
    background-color: transparent;
  color: #fff;
  padding: 21px 40px;
  border: 1px solid;
  transition: all 0.3s ease-out;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
}
.button_save:hover{
  transition: all 0.3s ease-out;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  transition: 250ms;
}
.inex {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
  font-size: 2rem;
  background-color: transparent;
  width: 50%;
  align-items:center;
  text-align:center;
}

.stats_server{
    flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  align-items:center;
  text-align: center;
}
