nav{
    border-bottom: solid 5px;
    border-bottom-color: darkorange;
}

.navbar-brand{
    color: orange;
}

.nav-link{
    color: orange;
}
.navbar-expand-lg{
    height: 100px;
}
.search{
    text-align: center;
    padding-top:175px;
}