.login {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:600px;
  margin-bottom:200px;
  align-items:center;
  text-align: center;
}

.register {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:600px;
  margin-bottom:50px;
  text-align: center;
}

.label-form {
  font-size:55%;
}

.button_form {
  background-color: transparent;
  color: #fff;
  padding: 21px 40px;
  border: 1px solid;
  transition: all 0.3s ease-out;
  font-size: 25px;
}

.button_register_login {
  background-color: transparent;
  color: #fff;
  padding: 21px 40px;
  border: 1px solid;
  transition: all 0.3s ease-out;
  font-size: 25px;
  margin-left:200px;
}
.button_form:hover, .button_register_login:hover{
transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}

.input_form {
    width:500px;
    height:50px;
    font-size:40px;
}



