.login {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin-bottom: 200px;
  align-items: center;
  text-align: center;
}

.register {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
  margin-bottom: 50px;
  text-align: center;
}

.connect{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  align-items:center;
  text-align: center;
}

.input-form {
    width: 500px;
    height: 50px;
    font-size: 40px;
}

p{
    font-size: 2rem;
    color:white;

}

#incorrect{
    margin-top: 25px;
}

.label-form {
  font-size:60%;
}

.button-form {
  background-color: transparent;
  color: #fff;
  padding: 21px 40px;
  border: 1px solid;
  transition: all 0.3s ease-out;
  font-size: 25px;
}

.button-register {
  background-color: transparent;
  color: #fff;
  padding: 21px 40px;
  border: 1px solid;
  transition: all 0.3s ease-out;
  font-size: 25px;
  margin-left: 107px;
  margin-top: 50px;
}

.button-disconnect{
  background-color: transparent;
  color: #fff;
  padding: 21px 40px;
  border: 1px solid;
  transition: all 0.3s ease-out;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}

.button-form:hover,
.button-register:hover,
.button-disconnect:hover{
  transition: all 0.3s ease-out;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  transition: 250ms;
}

#alert{
  font-size: 25px;
  color: red;
}