.team {
  background-image: url("https://nsm09.casimages.com/img/2021/08/19//21081901343426065417533036.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-toggle {
  position: relative;
  float: right;
  margin-top: 5%;
}

#listEquipes{
  display: table;
  margin: 0 auto;
}

#listeElement{
  list-style: none;
}

#buttonJoin{
  margin-right: 5px;
  
  padding: 2px;
  border: 1px solid rgb(230, 138, 33);
  
}

#buttonJoin:hover{
  background-color: lightgray;
}

