video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.mid-container {
  width: 100%;
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search{
  margin-top:400px;
  text-align: center;
  vertical-align: middle;
  width:100%;

}

.profile {
  padding: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
}

.stats {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid;
  width: 50%;
}

.research {
  background-color: transparent;
  color: #fff;
  padding: 21px 40px;
  border: 1px solid;
  transition: all 0.3s ease-out;
  font-size: 25px;
}

.research:hover {
  transition: all 0.3s ease-out;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  transition: 250ms;
}

.input {
  padding: 21px 40px;
  outline: none;
  border: 1px solid #fff;
  font-size: 25px;
}

.servers {
  background-color: #d2691e;
  color: #fff;
  transition: all 0.3s ease-out;
  padding: 20px 40px;
  border: 1px solid #fff;
  outline: none;
  font-size: 25px;
}

.level {
  display:inline-block;
  background-color: transparent;
  color: #fff;
  margin-left: 25%;
  padding: 20px;
  align-items: center;
  border: 1px solid;
  transition: all 0.3s ease-out;
  font-size: 25px;
}

.summoner_name {
  display:inline-block;
  margin-left: 50px;
  margin-top: 5%;
  transition: all 0.3s ease-out;
}

.error {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .search{
    margin-top: 30%;
  }
  .input {
    width: 80%;
  }

  .summoner_profile {
    width: 80%;
  }

  .stats{
    width: 80%;
  }
}

@media screen and (max-width: 960px) {
  .research,
  .input,
  .servers,
  .level,
  .summoner_name,
  .stats {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .summoner_name {
    text-align: center;
  }

  .level {
    width: 80px;
    text-align:center;
  }
}